* {
	margin: 0em;
	padding: 0em;
}

html {
	font-family: "Palatino Linotype", "Courier New", "Verdana", "Sans-Serif";
}

body {
	background-image: linear-gradient(to left,#DD4D0E 50%, #45C1BC  50%);
}

.hide {
	text-indent:100%;
	white-space:nowrap;
	overflow:hidden;
}

header {
	width: 75%;
	height: 6em;
	margin: 0 auto;
	background-color: white;
	border-color: #fb9313;
	border-style: solid;
	border-width: 0em 0.1em 0.3em 0.1em;
	border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;
}

header h1 {
	width: 20%;
	height: 2em;
	background-image: url("../images/logo.png");
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	padding: 0.5em 0em 0.5em 0em;
	float:left;
	margin-left: 5%;
}

nav {
	height: 6em;
	margin-left: 30%;
	width: 70%;
	text-align: center;
	overflow: hidden;
}

nav ul {
    list-style-type: none;
	margin: 0 auto;
    overflow: hidden;
}

nav li {
	display: inline-block;
}

nav li a {
	font-size: 0.8em;
	color: black;
	text-align: center;
	padding: 3.1em 1.5em;
	text-decoration: none;
	font-weight: bold;
}

.here {
	font-size: 0.8em;
	color: black;
	text-align: center;
	padding: 3.1em 1.5em;
	text-decoration: none;
	font-weight: bold;
	color: #0091D3;
}


/* Change the link color to #111 (black) on hover */
nav li a:hover {
	color: #fb9313;
}

#imgHeader {
	display: block;
	background-image: linear-gradient(to left,#DD4D0E 50%, #45C1BC  50%);
	background-position: center center;
	background-repeat: no-repeat;
	margin: 0 auto;
	height: auto;
}


#breadcrumb {
	width: 75%;
	margin: 0 auto;
	border-style: solid;
	border-width: 0em 0.1em 0.1em 0.1em;
	background-color: white;
}

#content {
	width: 75%;
	margin: 0 auto;
	border-style: solid;
	border-width: 0.3em 0.1em 0em 0.1em;
	border-color: #fb9313;
	background-color: white;
	padding-top: 2%;
	padding-bottom: 10%;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
}

#content h2 {
	display: block;
	text-align: center;
	font-size: 2em;
	margin-bottom: 2%;
}

#content table {
	margin: 0 auto;
	text-align: center;
	font-size: 1.2em;
	border-collapse: collapse;
	width: 90%;
	margin-top: 2%;
}

#content table td {
	border: 0.1em solid gray;
	padding: 0.6em;
}

#content table td a {
	text-decoration: none;
}

#content table thead {
	font-weight: bold;
}

.costo {
	color: blue;
	font-weight: bold;
}

.attacco {
	color: #ff9900;
	font-weight: bold;
}

.vita {
	color: red;
	font-weight: bold;
}

.comune {
	color: black;
}

.leggendaria {
	color: darkorange;
}

.rara {
	color: blue;
}

.epica {
	color: #9900ff;
}

form {
	margin: 0 auto;
	width: 90%;
	background-color:#F0D3A7;
	border-radius:0.5em;
	border: 0.5em double white;
}

#nome {
	float: left;
	margin-top: 2%;
	margin-left: 5%;
	width: 60%;
	margin-bottom: 2%;
}

#nome input {
	height: 2em;
	width: 95%;
	font-family: "Palatino Linotype", "Courier New", "Verdana", "Sans-Serif";
}

#costo {
	margin-top: 2%;
	margin-left: 65%;
	width: 29%;
	margin-bottom: 2%;
}

#costo select {
	height: 2.3em;
	width: 95%;
	font-family: "Palatino Linotype", "Courier New", "Verdana", "Sans-Serif";
}

#costo select option {
	font-family: "Palatino Linotype", "Courier New", "Verdana", "Sans-Serif";
}

#rarita {
	float: left;
	margin-left: 5%;
	width: 29%;
	margin-bottom: 2%;
}

#rarita select {
	height: 2.3em;
	width: 95%;
	font-family: "Palatino Linotype", "Courier New", "Verdana", "Sans-Serif";
}

#rarita select option {
	font-family: "Palatino Linotype", "Courier New", "Verdana", "Sans-Serif";
}

#tipo {
	float: left;
	margin-left: 1%;
	width: 29%;
	margin-bottom: 3%;
}

#tipo select {
	height: 2.3em;
	width: 95%;
	font-family: "Palatino Linotype", "Courier New", "Verdana", "Sans-Serif";
}

#tipo select option {
	font-family: "Palatino Linotype", "Courier New", "Verdana", "Sans-Serif";
}

#classe {
	margin-left: 65%;
	width: 29%;
	margin-bottom: 3%;
}

#classe select {
	height: 2.3em;
	width: 95%;
	font-family: "Palatino Linotype", "Courier New", "Verdana", "Sans-Serif";
}

#classe select option {
	font-family: "Palatino Linotype", "Courier New", "Verdana", "Sans-Serif";
}

form input[type="submit"] {
	font-family: "Palatino Linotype", "Courier New", "Verdana", "Sans-Serif";
	margin-left: 5%;
	margin-bottom: 2%;
	width: 15%;
	height: 3em;
	font-weight: bold;
}

footer {
	width: 75%;
	margin: 0 auto;
	background-color: white;
}
