body {
	background-color: #0e0d0b;
}

#imgHeader {
	display: block;
	width: 40%;
	margin: 0 auto;
	background-repeat: no-repeat;
	height: auto;
}

#breadcrumb {
	display: none;
}

#content {
	width: 75%;
	background-color: white;
	margin: 0 auto;
	padding-top: 2%;
	padding-bottom: 3%;
	border-style: solid;
	border-color: #fb9313;
	border-width: 0.3em 0.1em 0em 0.1em;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
	overflow: auto;
}

#content h2 {
	text-align: center;
	font-size: 2em;
	margin-bottom: 1.5em;
}

.errore{
	color: red;
	margin-left: 7%;
	font-weight: bold;
	font-size: 1.2em;
	margin-top: 1em;
	margin-bottom:1em;
}

.carte1 {
	width: 42%;
	margin-left: 5%;
	text-align: center;
	font-size: 0.9em;
	float: left;

}

.carte2 {
	width: 42%;
	margin-left: 52%;
	text-align: center;
	font-size: 0.9em;
}

.costo {
	display: block;
	width: 16%;
	font-weight: bold;
	float: left;
	margin-bottom: 1.2em;
}

.nome {
	display: block;
	width: 60%;
	float: left;
	font-weight: bold;
}

.quantita {
	width: 23%;
	font-weight: bold;
}

fieldset {
	width: 23%;
	border: none;
}

fieldset input[type="radio"] {
	margin-right: 0.5em;
}

.carte2 fieldset {
	margin-top: 1.2em;
}

.Base {
	color: #2ecc71;
	font-weight: bold;
	cursor: pointer;
	display: block;
	margin-bottom: 1%;
}

.Comune {
	color: #2ecc71;
	font-weight: bold;
	cursor: pointer;
	display: block;
	margin-bottom: 1%;
}

.Rara {
	color: #0070dd;
	font-weight: bold;
	cursor: pointer;
	display: block;
	margin-bottom: 1%;
}

.Epica {
	color: #a335ee;
	font-weight: bold;
	cursor: pointer;
	display: block;
	margin-bottom: 1%;
}

.Leggendaria {
	color: #ff8000;
	font-weight: bold;
	cursor: pointer;
	display: block;
	margin-bottom: 1%;
}

.labelTit {
	font-size: 1.1em;
	display: block;
	margin-left: 7%;
	margin-right: 2%;
}

.stringa {
	min-height: 2em;
	width:30%;
	margin-bottom: 3em;
	margin-left: 7%;
	margin-top: 0.2em;
	padding-left: 0.2em;
}

#area {
	min-width: 70%;
	max-width: 70%;
	display: block;
	min-height:6em;
	max-height: 6em;
	margin-top: 0.2em;
	margin-left: 7%;
	margin-bottom: 3em;
	padding: 0.2em;
}

#crea {
	font-family: "Palatino Linotype", "Courier New", "Verdana", "Sans-Serif";
	margin-top: 2em;
	margin-left: 45%;
	width: 15%;
	height: 3em;
	cursor: pointer;
	font-weight: bold;
	color: #fff;
	background-color: #262629;
	border: 0.2em solid #fff;
	border-radius: 0.4em;
}
