body {
	background-image: linear-gradient(to left,  #292c3e 50%, #2c2d36  50%)
}

#imgHeader {
	display: block;
	background-position: center center;
	background-repeat: no-repeat;
	margin: 0 auto;
	width:45%;
	height: auto;
}

#content {
	width: 75%;
	margin: 0 auto;
	border-style: solid;
	border-width: 0.3em 0.1em 0em 0.1em;
	border-color: #fb9313;
	background-color: white;
	padding-top: 2%;
	padding-bottom: 3%;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
}

#titolo {
	text-align: center;
	margin-bottom: 1em;
}

.post {
	width: 90%;
	margin-bottom: 2em;
	margin-left: auto;
	margin-right: auto;
	border: 0.15em solid #292c3e;
	background-color: rgba(0, 0, 255, 0.11);
	overflow: hidden;
	border-radius: 0.5em;
}

#postOP {
	width: 90%;
	margin-bottom: 2em;
	margin-left: auto;
	margin-right: auto;
	border: 0.15em solid #292c3e;
	background-color: rgba(255, 135, 0, 0.71);
	overflow: hidden;
	border-radius: 0.5em;
}

.dataora {
	text-align: center;
	padding: 1%;
	font-size: 1.3em;
	font-weight: bold;
	border-bottom: 0.05em solid #292c3e;
}

.rimuoviPost {
	width: 2%;
	float: right;
	margin-right: 2%;
	margin-bottom: 2%;
}

.userptext {
	display: flex;
}

.user {
	text-align: center;
	word-wrap: break-word;
	width:25%;
	float:left;
	font-weight: bold;
}

.fotoProfilo {
	border: 0.1em solid #292c3e;
	margin-top: 0.5em;
	width: 20%;
}

.user p {
	padding-bottom: 0.5em;
}

.text {
	width: 74%;
	padding: 2%;
	font-size: 1.1em;
}

.text::after {
	clear:both;
}

.addCommento {
	width: 40%;
	border: 1px solid black;
	margin: 0 auto;
	overflow: hidden;
}

label {
	margin-left: 5%;
	font-size: 1.2em;
	font-weight: bold;
}

textarea {
	margin: 0 auto;
	min-width: 90%;
	max-width: 90%;
	display: block;
	min-height:6em;
	max-height: 6em;
	padding: 0.2em;
}

#addCommento {
	font-family: "Palatino Linotype", "Courier New", "Verdana", "Sans-Serif";
	margin-top: 2em;
	margin-left: 40%;
	width: 20%;
	height: 3em;
	cursor: pointer;
	font-weight: bold;
	color: #fff;
	background-color: #292c3e;
	border: 0.2em solid #fff;
}
