body {
	background-color: #1b1617;
}

.hide {
	text-indent:100%;
	white-space:nowrap;
	overflow:hidden;
}

#imgHeader {
	display: block;
	background-position: center center;
	background-repeat: no-repeat;
	margin: 0 auto;
	width:45%;
	height: auto;
}

#content {
	width: 75%;
	margin: 0 auto;
	border-style: solid;
	border-width: 0.3em 0.1em 0.3em 0.1em;
	border-color: #fb9313;
	background-color: white;
	padding-top: 2%;
	padding-bottom: 3%;
	border-radius: 1em;
}

p {
    margin: 0 auto;
    width: 80%;
    text-align: center;
    font-size: 1.4em;
    font-weight: bold;

}
