body {
	background-image: linear-gradient(to left,  #292c3e 50%, #2c2d36  50%)
}

#imgHeader {
	display: block;
	background-position: center center;
	background-repeat: no-repeat;
	margin: 0 auto;
	width:45%;
	height: auto;
}

#breadcrumb {
	display: none;
}

#content {
	width: 75%;
	margin: 0 auto;
	border-style: solid;
	border-width: 0.3em 0.1em 0em 0.1em;
	border-color: #fb9313;
	background-color: white;
	padding-top: 2%;
	padding-bottom: 3%;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
}

#content h1 {
	text-align: center;
	margin-bottom: 3%;
}

form{
	width: 70%;
	margin: 0 auto;
}

#barra{
	width: 80%;
	height: 2.5em;
	padding: 0.2em;
}

#cerca {
	height: 3.1em;
	width: 10%;
}

.titolo {
	text-align:center;
	margin-bottom: 2%;
}

.tabella {
	width: 90%;
	margin:0 auto;
	border-collapse: collapse;
	border: 0.25em solid #292c3e;
	background-color: rgba(0, 0, 255, 0.11);
}

#general {
	margin-bottom: 5%;
}

.dark{
	background-color: #292c3e;
	color:white;
}

.forum {
	padding:0.4em;
	width:70%;
	border-bottom: 0.10em solid #292c3e;
}

.lastpost {
	width: 18%;
	text-align: center;
	border-bottom: 0.10em solid #292c3e;
	border-right: 0.10em solid #292c3e;
	border-left: 0.10em solid #292c3e;
}

.numpost {
	text-align: center;
	border-bottom: 0.10em solid #292c3e;
	border-left: 0.10em solid #292c3e;
}

td a{
	 text-decoration: none;
	 color: blue;
}
