body {
	background-color: rgb(25, 19, 17);
}

#imgHeader {
	display: block;
	width: 45%;
	background-repeat: no-repeat;
	margin: 0 auto;
	height: auto;
}


#breadcrumb {
	display: none;
}

#content {
	width: 75%;
	margin: 0 auto;
	border-style: solid;
	border-width: 0.3em 0.1em 0em 0.1em;
	border-color: #fb9313;
	background-color: white;
	padding-top: 2%;
	padding-bottom: 3%;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
}


#content h2 {
	display: block;
	text-align: center;
	font-size: 2em;
	margin-bottom: 3%;
}

#tabellaGuide {
	width: 65%;
	margin: 0 auto;
	border-collapse: collapse;
}

#tabellaGuide th {
	border: 0.1em solid black;
	padding: 0.6em;
	font-size: 1.1em;
	background-color: rgb(25, 19, 17);
	color: white;
}

#tabellaGuide td {
	border: 0.1em solid black;
	padding: 0.6em;
}

.delete {
	width: 16%;
}

#tabellaGuide a {
	color: blue;
	font-weight: bold;
	text-decoration: none;
}

.titoloGuida {
	text-align: left;
	width: 60%;
}

.valutazione {
	width: 20%;
	text-align: center;
}

.username {
	width: 20%;
	text-align: center;
}

footer {
	border-bottom: 0.1em solid #fb9313;
}

article p {
	width: 90%;
	margin: 0 auto;
	padding-top: 3%;
	padding-bottom: 3%;
	border-top: 0.2em solid orange;
	border-bottom: 0.2em solid orange;
}
