body {
	background-color:rgb(25, 19, 17);;
}

#imgHeader {
	display: block;
	background-repeat: no-repeat;
	margin: 0 auto;
	width:45%;
	height: auto;
}

#content {
	width: 75%;
	margin: 0 auto;
	border-style: solid;
	border-width: 0.3em 0.1em 0em 0.1em;
	border-color: #fb9313;
	background-color: white;
	padding-top: 2%;
	padding-bottom: 3%;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
}

#content h2 {
	text-align: center;
	font-size: 2em;
	margin-bottom: 3%;
}

form{
	width:70%;
	margin: 0 auto;
}

#barra{
	width: 80%;
	height: 2.5em;
	padding: 0.2em;
}

#cerca {
	height: 3.1em;
	width: 10%;
}

#generale {
	margin-left: 5%;
	float: left;
	width: 40%;
	margin-top: 4%;
	margin-bottom: 2%;
	text-align: center;
}

.sinistra {
	margin-left: 5%;
	float: left;
	width: 40%;
	margin-top: 2%;
	margin-bottom: 2%;
	text-align: center;
	clear: both;
}

.destra{
	display: block;
	margin-left: 55%;
	width: 40%;
	margin-top: 4%;
	margin-bottom: 2%;
	text-align: center;
}

a {
	text-decoration: none;
	color: black;
}

.titolo {
	text-align: center;
	font-size: 1em;
}

.immagine {
	width: 80%;
	margin-top: 3%;
	margin-bottom: 3%;
	border-radius: 0.5em;
	border: 0.1em solid black;
	height: 11em;
}

#creaGuida {
	text-align: center;
}

#crea {
	height: 3.8em;
	width: 25%;
	cursor: pointer;
	color: #fff;
	background-color: #292c3e;
	border: 0.2em solid #fff;
	border-radius: 0.4em;
	margin-top: 2em;
}
