* {
	margin: 0em;
	padding: 0em;
}

html {
	font-family: "Palatino Linotype", "Courier New", "Verdana", "Sans-Serif";
}

body {
	background-color: #F0D3A7;
}

#imgHeader {
	display: block;
	background-repeat: no-repeat;
	margin: 0 auto;
	height: auto;
}

#content {
	width: 75%;
	margin: 0 auto;
	border-style: solid;
	border-width: 0.3em 0.1em 0em 0.1em;
	border-color: #fb9313;
	background-color: #fff;
	padding-top: 2%;
	padding-bottom: 15%;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
}

#deck {
	display: inline-block;
	margin-left: 12%;
	margin-bottom: 5%;
	width: 45%;
	float: left;
}

#deck h2 {
	text-align: center;
	margin-bottom:1em;
}

#deckContent th {
	background-color: orange;
	font-size: 1.1em;
	border-bottom:0.1em solid black;
}

#deckContent  td {
	text-align: center;
	word-wrap: break-word;
}

#rots {
	border-top-left-radius: 0.5em;
	padding: 1em;
}

#rotd {
	border-top-right-radius: 0.5em;
	width: 15%;
}

#deckContent tr:nth-child(even) {
	background-color: #e4caa2;
	border-right: 0.2em solid #e0b472;
	border-left: 0.2em solid #e0b472;
}

#deckContent tr:nth-child(odd) {
	background-color: #e0b472;
	border-right: 0.2em solid #e4caa2;
	border-left: 0.2em solid #e4caa2;
}

.classe {
	width:15%;
	background-size: contain;
}

.ratepos {
	width: 4em;
	border:0.1em solid green;
}
.rateneg {
	width: 4em;
	border:0.1em solid red;
}

#login {
	margin-left: 68%;
	margin-bottom: 5%;
	margin-top: 3.5em;
	padding: 1%;
	width: 21.5%;
	background-color:#F0D3A7;
	border-radius:0.5em;
	border: 0.5em double #fff;
	text-align: center;
}

button {
	background-color: #fff;
	margin: 1em 0em;
	padding: 0.7em;
	border: 0.15em solid #fb9313;
	border-radius: 0.5em;
	width: 70%;
	font-weight: bold;
	font-size: 0.85em;
}

#guide {
	margin-left: 68%;
	margin-bottom: 5%;
	width: 25%;
}

#guide h2 {
	text-align: center;
	margin-bottom:1em;
}

.elenco {
	list-style-type: none;
	border-top: 0.2em solid orange;
	border-bottom: 0.2em solid orange;
	text-align: center;
}

.elenco li {
	margin: 1em 0;
}

#contenutoTip {
	border-top: 0.2em solid orange;
	border-bottom: 0.2em solid orange;
	width: 60%;
	padding: 2%;
	margin:auto;
	text-align: center;
	word-wrap: break-word;
}

#tip h2 {
	text-align: center;
	margin-bottom: 1em;
}
