*{
	margin:0em;
	padding:0em;
}

html{
	font-family:"Verdana", "Sans-Serif";
}

body{
	font-size:0.9em;
	background-image:url('../images/cornicenofondo.png');
	background-size: 90%;
	background-position:center center;
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-color:brown;

}

.hide{
	text-indent:100%;
	white-space:nowrap;
	overflow:hidden;
}

header{
	display:block;
	background-image:url('../images/logosito3.png');
	padding-top:15em;
	background-repeat:no-repeat;
	background-position:center;
	background-size: 28%;
}

nav ul{
	border:1px solid white;
	margin:auto 14em;
	list-style-type:none;
	overflow:hidden;
	padding:1em 0em;
	background-color: #333;
	border-radius:2em;
}

nav li{

	float:left;
}

li a{
	border:1px solid black;
	text-decoration:none;
	display:inline;
	color:white;
	text-align: center;
	padding:20px 30px;
	margin:0;

}

li a:hover{
	background-color:black;
}

/*#here{
	border:1px solid black;
	text-decoration:none;
	display:inline;
	color:white;
	text-align: center;
	padding:20px 30px;
	margin:0;
}*/

#log{
	float:right;
}

nav a{color:white;}
nav a:visited{color:white;}
