body {
	background-color: #000;
}

#breadcrumb {
	display: none;
}

#imgHeader {
	display: block;
	width: 45%;
	background-repeat: no-repeat;
	margin: 0 auto;
	height: auto;
}

#content {
	width: 75%;
	margin: 0 auto;
	border-style: solid;
	border-width: 0.3em 0.1em 0em 0.1em;
	border-color: #fb9313;
	background-color: #fff;
	padding-top: 2%;
	padding-bottom: 3%;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
}

#content h2 {
	text-align: center;
	font-size: 2em;
	margin-bottom: 2%;
}

#content h3{
	color: white;
	margin-bottom: 1%;
}

#ricercaMazzi {
	margin: 0 auto;
	width: 90%;
	background-color:#273f83;
	border-radius:0.5em;
	border: 0.5em double white;
	overflow: auto;
	padding-bottom: 1em;
}

#ricercaMazzi input[type="submit"] {
	width: 15%;
	height: 3em;
	margin-top: 2%;
	margin-left: 17%;
	font-weight: bold;
	font-family: "Palatino Linotype", "Courier New", "Verdana", "Sans-Serif";
	cursor: pointer;
}

#nome {
	float: left;
	margin-top: 2%;
	margin-left: 5%;
	width: 45%;
	margin-bottom: 2%;
}

#nome input[type="text"] {
	height: 2em;
	width: 100%;
	font-family: "Palatino Linotype", "Courier New", "Verdana", "Sans-Serif";
}

#classe {
	margin-left:60%;
	width: 30%;
	margin-bottom: 3%;
	margin-top: 2%;
}

#classe select {
	height: 2.3em;
	width: 95%;
	font-family: "Palatino Linotype", "Courier New", "Verdana", "Sans-Serif";
}

#classe select option {
	font-family: "Palatino Linotype", "Courier New", "Verdana", "Sans-Serif";
}

#c {
	text-align: left;
	margin-left: 5%;
}

#costo {
	width: 44%;
	background-color:white;
	border-radius:0.5em;
	border: 0.5em double #273f83;
	margin-left: 4.7%;
	margin-bottom: 2%;
	float: left;
}

.delete {
	width: 30%;
}

.minmax {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: 1.2em;
	margin-right: 1em;
}

.minmax h4 {
	float: left;
	width:50%;
	font-size: 1em;
	font-weight: normal;
}

.minmax input {
	width: 45%;
	height: 1.2em;
	font-family: "Palatino Linotype", "Courier New", "Verdana", "Sans-Serif";
}

buttRicerca {
	font-family: "Palatino Linotype", "Courier New", "Verdana", "Sans-Serif";
	margin-left: 17%;
	margin-bottom: 5%;
	margin-top: 2%;
	width: 15%;
	height: 3em;
	font-weight: bold;
	cursor: pointer;
}

#content table {
	margin: 0 auto;
	text-align: center;
	font-size: 1em;
	border-collapse: collapse;
	width: 90%;
	margin-top: 3%;
}

#content table th {
	font-weight: bold;
	background-color: #273f83;
	color: white;
	padding: 0.5em 0em;
	border: 0.1em solid black;
}

#content table td {
	padding: 0.6em;
	word-wrap: break-word;
	border: 0.1em solid black;
}

#content table td a {
	text-decoration: none;
	color:black;
}

.nomeDeck {
	width: 40%;
}

.classeDeck {
	width: 20%;
}

.costoDeck {
	width: 10%;
}

.ratingDeck {
	width: 10%;
}

.dataDeck {
	width: 20%;
}


.errore {
	color: red;
	text-align: center;
	font-weight: bold;
	padding: 1em;
}

.costo {
	color: blue;
	font-weight: bold;
}

.negativo {
	color: red;
}

.positivo {
	color: green;
}

.Mago {
	color:#273f83;
	font-weight: bold;
}

.Paladino {
	color:#473624;
	font-weight: bold;
}

.Cacciatore {
	color:green;
	font-weight: bold;
}

.Ladro {
	color:#8d191a;
	font-weight: bold;
}

.Sacerdote {
	color:#a73dbb;
	font-weight: bold;
}

.Sciamano {
	color:#093615;
	font-weight: bold;
}

.Guerriero {
	color:#ff7c0d;
	font-weight: bold;
}

.Druido {
	color:#6e3b06;
	font-weight: bold;
}

.Stregone {
	color:#40245d;
	font-weight: bold;
}
