body {
	background-color: #000;
}

#breadcrumb {
	display: none;
}

#imgHeader {
	display: block;
	background-repeat: no-repeat;
	margin: 0 auto;
	height: auto;
	width: 45%;
}


#content {
	width: 75%;
	margin: 0 auto;
	border-style: solid;
	border-width: 0.3em 0.1em 0em 0.1em;
	border-color: #fb9313;
	background-color: white;
	padding-top: 2%;
	padding-bottom: 3%;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
}

#mazzo {
	overflow: auto;
}

#sopra {
  	background-color: #fff;
	border-radius: 0.5em;
	border: 0.2em solid #273f83;
  	width: 47%;
  	margin-left: 3%;
  	overflow: auto;
  	padding-bottom: 0.5em;
  	padding-top: 0.5em;
	float: left;
}

#img{
  	margin: 2em 0 2em 3%;
  	float: left;
  	width: 20%;
}

#imgClasse {
  	width: 80%;
  	margin-left: 10%;
}

#valutazione {
  	text-align: center;
  	font-size: 1.5em;
  	font-weight: bolder;
}

#rating .like{
  	display: block;
  	margin: auto;
  	padding: 1em 0em;
  	border: none;
	background-color: white;
}

#descrizione {
  	width: 70%;
  	word-wrap: break-word;
	text-align: center;
	margin:2em 0 2em 25%;
}

#descrizione h3 {
  	font-weight: bold;
	padding-top: 0.5em;
	padding-bottom: 1em;
}

#descrizione h4 {
  	padding-top: 1em;
  	font-weight: normal;
}

#descrizione h4 span {
  font-weight: bold;
  color:#273f83;
}

#carte {
  margin-left: 52%;
  width: 45%;
}

#carte table {
	margin: 0 auto;
	text-align: center;
	border-collapse: collapse;
	width: 90%;
}

#carte table thead {
	font-weight: bold;
	font-size: 1em;
	border: 0.1em solid gray;
	background-color: #fb9313;
}

#carte table td {
	border: 0.1em solid gray;
	padding: 0.4em;
	font-size: 0.8em;
}

#carte table td a {
	text-decoration: none;
}

.Leggendaria {
	color: #ff8000;
	font-weight: bold;
	cursor: pointer;
}

.Rara {
	color: #0070dd;
	font-weight: bold;
	cursor: pointer;
}

.Epica {
	color: #a335ee;
	font-weight: bold;
	cursor: pointer;
}

.Comune {
	color: #2ecc71;
	font-weight: bold;
	cursor: pointer;
}

.Base {
	color: #2ecc71;
	font-weight: bold;
	cursor: pointer;
}

#spiegazione {
	float: left;
	width: 45%;
	margin-left: 5%;
	word-wrap: break-word;
	margin-top: 2em;
}

#spiegazione h3 {
	text-align: left;
	color:#273f83;
}

#spiegazione h4 {
	font-weight: normal;
}

#commenti {
	margin: 4em auto 2em auto;
	width: 90%;
	padding-bottom: 5%;
}

#commenti h2 {
	text-align: center;
	color: black;
}

#commenti table {
	margin: 2em auto 0 auto;
	border-collapse: collapse;
	width:100%;
}

#commenti th {
	padding-bottom: 0.5em;
	padding-top: 0.5em;
	font-size: 1.2em;
	font-weight: bold;
	background-color: #efe7d2;
	border: 0.1em solid gray;
}

#commenti td {
	word-wrap: break-word;
	padding: 0.5em 0 0.5em 3em;
	border: 0.1em solid gray;
}

#commenti tr:nth-child(even) {
	background-color: #f2f2f2;

}

#commenti #utente{
	width: 30%;
}

#commenti #commento {
	width: 70%;
}

form {
	margin-top: 2em;
}

#commenti label{
	margin-left: 5%;
	font-size: 1.2em;
	font-weight: bold;
	padding-bottom: 0.2em;
}

textarea {
	margin: 0 auto;
	min-width: 90%;
	max-width: 90%;
	display: block;
	min-height:6em;
	max-height: 6em;
}

form input[type="submit"] {
	font-family: "Palatino Linotype", "Courier New", "Verdana", "Sans-Serif";
	margin-top: 2em;
	margin-left: 40%;
	width: 20%;
	height: 3em;
	font-weight: bold;
}
