body {
	background-color: #000;
}

#breadcrumb {
	display: none;
}

#imgHeader {
	display: block;
	background-repeat: no-repeat;
	margin: 0 auto;
	height: auto;
	width: 45%;
}

#content {
	width: 75%;
	margin: 0 auto;
	border-style: solid;
	border-width: 0.3em 0.1em 0em 0.1em;
	border-color: #fb9313;
	background-color: white;
	padding-top: 2%;
	padding-bottom: 3%;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
}

#mazzo {
	overflow: auto;
}

#caratteristiche {
	width: 40%;
	margin-left: 3%;
	margin-bottom: 2%;
	float: left;
	border: 0.2em solid #273f83;
	border-radius: 0.6em;
	padding: 1em;
}

#img{
	width: 30%;
	float: left;
}

#imgClasse {
  	width: 80%;
  	margin-left: 10%;
}

#valutazione {
  	text-align: center;
  	font-size: 1.5em;
  	font-weight: bolder;
}

#rating .like{
  	display: block;
  	margin: auto;
  	padding: 1em 0em;
  	border: none;
	background-color: white;
}

#descrizione {
	width: 64%;
	margin-left: 35%;
}

#descrizione h3 {
	font-size: 1.35em;
}

#descrizione h4 {
	display: inline-block;
	font-size: 1.15em;
}

#descrizione div {
	margin-top: 20%;
	margin-bottom: 5%;
}

#carte {
	width: 48%;
	margin-left: 50%;
}

#carte table {
	border-collapse: collapse;
	text-align: center;
	width: 100%;
	margin: 0 auto;
}

#carte table th {
	border: 0.1em solid black;
	padding: 0.2em;
	color: white;
	background-color: #111f42;
}

#carte table td {
	padding: 0.2em;
	border: 0.1em solid black;
}

.Leggendaria {
	color: #ff8000;
	font-weight: bold;
	cursor: pointer;
}

.Rara {
	color: #0070dd;
	font-weight: bold;
	cursor: pointer;
}

.Epica {
	color: #a335ee;
	font-weight: bold;
	cursor: pointer;
}

.Comune {
	color: #2ecc71;
	font-weight: bold;
	cursor: pointer;
}

.Base {
	color: #2ecc71;
	font-weight: bold;
	cursor: pointer;
}

#spiegazione {
	clear: both;
	width: 90%;
	margin: 5% auto 6% auto;
}

#spiegazione h3 {
	font-size: 1.2em;
}

#spiegazione p {
	margin-top: 1%;
}

#commenti {
	margin: 4em auto 2em auto;
	width: 90%;
}

#commenti h2 {
	text-align: center;
	color: black;
}

#commenti table {
	margin: 2em auto 0 auto;
	border-collapse: collapse;
	width: 100%;
}

#commenti th {
	padding-bottom: 0.5em;
	padding-top: 0.5em;
	font-size: 1.2em;
	font-weight: bold;
	background-color: #efe7d2;
	border: 0.1em solid gray;
}

#commenti td {
	word-wrap: break-word;
	padding: 0.5em 1em;
	border: 0.1em solid gray;
}

#commenti tr:nth-child(even) {
	background-color: #f2f2f2;
}

#commenti #utente{
	width: 30%;
}

#commenti #commento {
	width: 70%;
}

form {
	margin-top: 2em;
}

#commenti label{
	margin-left: 5%;
	font-size: 1.2em;
	font-weight: bold;
	padding-bottom: 0.2em;
}

textarea {
	margin: 0 auto;
	min-width: 90%;
	max-width: 90%;
	display: block;
	min-height:6em;
	max-height: 6em;
	padding: 0.3em;
}

form input[type="submit"] {
	font-family: "Palatino Linotype", "Courier New", "Verdana", "Sans-Serif";
	margin-top: 2em;
	margin-left: 40%;
	width: 20%;
	height: 3em;
	font-weight: bold;
}
