body {
	background-image: linear-gradient(to left,  #292c3e 50%, #2c2d36  50%)
}

#imgHeader {
	display: block;
	background-position: center center;
	background-repeat: no-repeat;
	margin: 0 auto;
	height: auto;
	width: 45%;
}

#content {
	width: 75%;
	margin: 0 auto;
	border-style: solid;
	border-width: 0.3em 0.1em 0em 0.1em;
	border-color: #fb9313;
	background-color: white;
	padding-top: 2%;
	padding-bottom: 3%;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
}

.titolo {
	text-align:center;
	margin-bottom: 2%;
}

.tabella {
	width: 90%;
	margin:0 auto;
	border-collapse: collapse;
	border: 0.25em solid #292c3e;
	background-color: rgba(0, 0, 255, 0.11);
}

.tabella th {
	background-color: #292c3e;
	color:white;
}

#general {
	margin-bottom: 5%;
}

.forum {
	padding: 0.4em;
	width: 60%;
	border-bottom: 0.10em solid #292c3e;
}

.lastpost {
	text-align: center;
	border-bottom: 0.10em solid #292c3e;
	border-right: 0.10em solid #292c3e;
	border-left: 0.10em solid #292c3e;
}

.numpost {
	width: 8%;
}

.delete {
	width: 30%;
}

.numpost {
	text-align: center;
	border-bottom: 0.10em solid #292c3e;
	border-left: 0.10em solid #292c3e;
}

td a {
	 text-decoration: none;
	 color: blue;
}

#content form {
	margin-top: 2em;
}

#content label {
	font-size: 1.2em;
	font-weight: bold;
	padding-bottom: 0.2em;
}

#content textarea {
	min-width: 90%;
	max-width: 90%;
	display: block;
	min-height:6em;
	max-height: 6em;
}

#content input[type="submit"] {
	font-family: "Palatino Linotype", "Courier New", "Verdana", "Sans-Serif";
	margin-top: 2em;
	margin-left: 40%;
	width: 20%;
	height: 3em;
	cursor: pointer;
	font-weight: bold;
	color: #fff;
	background-color: #292c3e;
	border: 0.2em solid #fff;
}

#addTopic {
	font-family: "Palatino Linotype", "Courier New", "Verdana", "Sans-Serif";
	margin-top: 2em;
	margin-left: 40%;
	width: 20%;
	height: 3em;
	font-weight: bold;
	cursor: pointer;
	color: #fff;
	background-color: #292c3e;
	border: 0.2em solid #fff;
}

#labelAdd {
	display: block;
	text-align: center;
	margin-bottom: 1em;
	font-size: 2em;
}

#labelTit {
	font-size: 1.4em;
	display: block;
}

#titolo {
	min-height: 2em;
	width:30%;
	margin-bottom: 3em;
}

.centrato {
	text-align: center;
}

#labelText {
	font-size: 1.4em;
}

.lab {
	width: 90%;
	margin: 0 auto;
}
