
body {
	background-color: #322727;
}

#breadcrumb{
	display: none;
}

#content {
	width: 75%;
	margin: 1em auto 0em auto;
	border-style: solid;
	border-width: 0.3em 0.1em 0em 0.1em;
	border-color: #fb9313;
	background-color: white;
	padding-top: 2%;
	padding-bottom: 10%;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
}

#infoTitle{
	width: 90%;
	margin: 0 auto;
  	margin-top: 1em;
  	padding-bottom: 0.5em;
  	padding-top: 0.5em;
  	background-color: #fb9313;
  	text-align: center;
	border: 2px solid #fb9313;
}

#fotoprofilo{
	width: 15%;
}

#info {
	width: 90%;
	margin: 0 auto;
  	border: 2px solid #fb9313;
  	overflow: auto;
}

#info img {
	width: 15%;
	height: 9.5em;
  	float:left;
  	margin:1.5em 0 1em 5%;
	border-radius: 0.4em;
}

#info h3 {
  	margin-left: 12%;
  	font-weight: bold;
  	font-size: 1.1em;
  	padding-top: 1em;
	color:#fb9313;
	display: inline;
}

#info form {
	margin-top: 1.5%;
}

#info input[type="submit"] {
	padding: 0.1em;
	cursor: pointer;
}

#username {
	margin-top: 2%;
}

#email {
	margin-top: 1.5%;
}

#iscrizione {
	margin-top: 1.5%;
}

#mydeckTitle{
	width: 90%;
	margin: 0 auto;
  	margin-top: 2em;
	padding-bottom: 0.5em;
	padding-top: 0.5em;
	background-color: #273f83;
	color: white;
	text-align: center;
}

#mydeck{
	width: 90%;
	margin: 0 auto;
    overflow: auto;
}

#mydeck table {
	text-align: center;
  	width:100%;
}

#mydeck table td {
	border: 0.1em solid #273f83;
	padding: 0.4em;
	font-size: 1em;
}

#mydeck table td a {
	color: blue;
	text-decoration: none;
}

#mydeck table th{
	font-weight: bold;
	font-size: 1.2em;
	border: 0.1em solid #273f83;
  	padding: 0.2em 0 0.2em 0;
}

#myguideTitle{
	width: 90%;
	margin: 0 auto;
  	margin-top: 2em;
  	padding-bottom: 0.5em;
  	padding-top: 0.5em;
  	background-color: #3cc667;
  	color: white;
  	text-align: center;
}

#myguide{
	width: 90%;
	margin: 0 auto;
  	overflow: auto;
}

#myguide table {
	text-align: center;
  	width:100%;
}

#myguide table td {
	border: 0.1em solid #3cc667;
	padding: 0.4em;
	font-size: 1em;
}

#myguide table td a {
	color: black;
	text-decoration: none;
}

#myguide table th{
	font-weight: bold;
	font-size: 1.2em;
	border: 0.1em solid #3cc667;
    padding: 0.2em 0 0.2em 0;
}

.bottoni{
	margin-left: 40%;
}

.nome {
	width: 60%;
}

.classe{
	width: 20%;
}

.voto{
	width: 10%;
}

.elimina {
	width: 10%;
}

.delete {
	width: 30%;
}

.likespos {
	color: green;
}

.likesneg {
	color: red;
}

.errore {
	width: 65%;
	margin-top: 1.5%;
	margin-left: 32%;
	margin-bottom: 2%;
	color: red;
	font-weight: bold;
}

.creazione {
	width: 15%;
	margin: 0 auto;
}

.creazione input[type="submit"] {
	margin-top: 2em;
	width: 100%;
	height: 3.5em;
	cursor: pointer;
	font-weight: bold;
	color: black;
	background-color: #f1c6c2;
	border: 0.2em solid black;
	border-radius: 0.5em;
}
