* {
	margin: 0em;
	padding: 0em;
}

html {
	font-family: "Palatino Linotype", "Courier New", "Verdana", "Sans-Serif";
}

body {
	background-color: #000;
}

.hide {
	text-indent:100%;
	white-space:nowrap;
	overflow:hidden;
}

#imgHeader {
	display: block;
	background-repeat: no-repeat;
	margin: 0 auto;
	height: auto;
	width: 45%;
}


#content {
	width: 75%;
	margin: 0 auto;
	border-style: solid;
	border-width: 0.3em 0.1em 0em 0.1em;
	border-color: #fb9313;
	background-color: white;
	padding-top: 2%;
	padding-bottom: 10%;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
}

#infoTitle{
	width: 90%;
	margin: 0 auto;
  	margin-top: 1em;
  	padding-bottom: 0.5em;
  	padding-top: 0.5em;
  	background-color: #fb9313;
  	text-align: center;
	border: 2px solid #fb9313;
}

#info {
	width: 90%;
	margin: 0 auto;
  	border: 2px solid #fb9313;
  	overflow: auto;
}

#info img{
	width: 15%;
  	float:left;
  	margin:1em 0 1em 5%;
}

#info h4{
  	margin-left: 30%;
  	font-weight: bold;
  	font-size: 1.2em;
  	padding-top: 1em;
}

#info h4 span{
  	color:#fb9313;
}

#mydeckTitle{
	width: 90%;
	margin: 0 auto;
  	margin-top: 2em;
	padding-bottom: 0.5em;
	padding-top: 0.5em;
	background-color: #273f83;
	color: white;
	text-align: center;
}

#mydeck{
	width: 90%;
	margin: 0 auto;
    overflow: auto;
}

#mydeck table {
	text-align: center;
  	width:100%;
  	margin-bottom: 1em;
}

#mydeck table td {
	border: 0.1em solid #273f83;
	padding: 0.4em;
	font-size: 1em;
}

#mydeck table td a {
	text-decoration: none;
}

#mydeck table th{
	font-weight: bold;
	font-size: 1.2em;
	border: 0.1em solid #273f83;
  	padding: 0.2em 0 0.2em 0;
}

#myguideTitle{
	width: 90%;
	margin: 0 auto;
  	margin-top: 2em;
  	padding-bottom: 0.5em;
  	padding-top: 0.5em;
  	background-color: #3cc667;
  	color: white;
  	text-align: center;
}

#myguide{
	width: 90%;
	margin: 0 auto;
  	overflow: auto;
}

#myguide table {
	text-align: center;
  	width:100%;
}

#myguide table td {
	border: 0.1em solid #3cc667;
	padding: 0.4em;
	font-size: 1em;
}

#myguide table td a {
	text-decoration: none;
}

#myguide table th{
	font-weight: bold;
	font-size: 1.2em;
	border: 0.1em solid #3cc667;
    padding: 0.2em 0 0.2em 0;
}
